name: "ClamAV REST API"
version: "0.1.0"
slug: "clamav_rest_api"
description: "REST API that scans files using a remote ClamAV daemon (clamd)."
url: "https://github.com/benzino77/clamav-rest-api"

arch:
  - amd64
  - aarch64

startup: "services"
boot: "auto"

webui: "http://[HOST]:[PORT:3000]/"

ports:
  "3000/tcp": 3000
ports_description:
  "3000/tcp": "ClamAV REST API HTTP port"

# just in case you ever want to write logs or temp data
map:
  - config:ro
  - share:rw

hassio_api: false
homeassistant_api: false

options:
  clamd_ip: "192.168.68.73"
  clamd_port: 3310
  app_form_key: "FILES"
  app_max_file_size: 262144000

schema:
  clamd_ip: str
  clamd_port: int
  app_form_key: str
  app_max_file_size: int

# static envs; dynamic ones will be set by run.sh reading /data/options.json
environment:
  NODE_ENV: "production"
  APP_PORT: "3000"
