name: "ConvertX"
version: "user"  # this will be used as the Docker image tag
slug: "convertx"
description: "ConvertX + ClamAV: document conversion UI with antivirus scanning."
arch:
  - amd64
  - aarch64

# IMPORTANT: no tag here, just the repo
image: "kosztyk/convertx-clamav"

startup: application
boot: auto

ports:
  "3000/tcp": 8080

ports_description:
  "3000/tcp": "ConvertX web UI (mapped to 8080 on the host)"

ingress: true
ingress_port: 3000
webui: "http://[HOST]:[PORT:3000]/"

legacy: true

map:
  - type: data
    path: /app/data
    read_only: false

environment:
  JWT_SECRET: "1FloareA1"
  HTTP_ALLOWED: "true"
  TZ: "Europe/Bucharest"
  AUTO_DELETE_EVERY_N_HOURS: "720"
  CLAMAV_URL: "http://192.168.68.144:3000/api/v1/scan"

options: {}
schema: {}
